<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Page</h1>
    <a href="/">Voltar a página inicial</a>
    <a href="/logout">Logout</a>
    <div class="col">
        <h3>Usuários cadastrados</h3>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Nível de acesso</th>
                    <th>Mudar nível de acesso para:</th>
                    <!-- <th>Livros guardados</th> -->
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <% if (user.email != selectedUser) { %>
                        <tr>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td id="<%= user.id %>-privilege"><%= user.privilege %></td>
                            <td>
                                <select name="privilege" id="privilege" onchange="updatePrivilege('<%= user.email %>', this.value, '<%= user.id %>' )">
                                    <option value="admin" <%= user.privilege == 'admin' ? 'selected' : '' %>>Admin</option>
                                    <option value="bibliotecario" <%= user.privilege == 'bibliotecario' ? 'selected' : '' %>>Bibliotecário</option>
                                    <option value="user" <%= user.privilege == 'user' ? 'selected' : '' %>>User</option>
                                </select>
                            </td>
                            <!-- <td id="<%= user.id %>" class="counter">Carregando...</td> -->
                        </tr>
                    <% } %>
                <% }) %>
        </tbody>
    </div>
<script>
    function updatePrivilege(email, newPrivilege, userId) {
        fetch('/updatePrivilege', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, privilege: newPrivilege }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            document.getElementById(userId + '-privilege').innerText = newPrivilege;
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    // function countBooks(user_id, counter) {
    //     fetch('/countBooks/' + user_id, {
    //         method: 'GET',
    //         headers: {
    //             'Content-Type': 'application/json',
    //         },
    //     })
    //     .then(response => response.json())
    //     .then(data => {
    //         if (!data.count) {
    //             throw new Error('No count received');
    //         }
    //         counter.innerText = data.count[0].count
    //     })
    //     .catch((error) => {
    //         console.error('Error:', error);
    //     });
    // }

    // const counters = document.querySelectorAll('.counter');
    //     counters.forEach(counter => {
    //         countBooks(counter.id, counter);
    // });
</script>
</body>
</html>