<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Search books">
        <input type="submit" value="Search">
    </form>

    <form action="/livrosGuardados">
        <input type="submit" value="Ver livros guardados">
    </form>

    <% if (user.privilege == 'admin') { %>
        <a href="/admin">Página de administrador</a>
    <% } %>
    <br>
    <a href="/logout">Sair da conta</a>

    <h1>Olá <%= user.name %>!</h1>

    <% if (message) { %>
        <h3><%= message %></h3>
    <% } %>

    <form action="/filter" method="GET">
        <label for="genre">Selecione o gênero:</label>
        <select name="genre" id="genre">
            <option value=""<%= subject === '' ? '' %>></option>
            <option value="fiction" <%= subject === 'fiction' ? 'selected' : '' %>>Ficção</option>
            <option value="fantasy" <%= subject === 'fantasy' ? 'selected' : '' %>>Fantasia</option>
            <option value="mystery" <%= subject === 'mystery' ? 'selected' : '' %>>Mistério</option>
            <option value="biography" <%= subject === 'biography' ? 'selected' : '' %>>Biografia</option>
            <option value="science" <%= subject === 'science' ? 'selected' : '' %>>Ciência</option>
            <option value="history" <%= subject === 'history' ? 'selected' : '' %>>História</option>
        </select>
        <input type="submit" value="Filtrar">
    </form>

    <% for(let i=0; i < data.length; i++) { %>
        <h2><%= data[i].volumeInfo.title %></h2>
        <form action="/guardar" method="post">
            <input type="hidden" name="title" value="<%= data[i].volumeInfo.title %>">
            <input type="hidden" name="author" value="<%= data[i].volumeInfo.authors ? data[i].volumeInfo.authors.join(', ') : 'Autor desconhecido' %>">
            <input type="hidden" name="image" value="<%= data[i].volumeInfo.imageLinks && data[i].volumeInfo.imageLinks.thumbnail ? data[i].volumeInfo.imageLinks.thumbnail : 'false' %>">
            <input type="submit" value="Guardar livro">
        </form>
        <h3><%= data[i].volumeInfo.authors ? data[i].volumeInfo.authors.join(', ') : 'Autor desconhecido' %></h3>
        <% if(data[i].volumeInfo.imageLinks && data[i].volumeInfo.imageLinks.thumbnail) { %>
            <img src="<%= data[i].volumeInfo.imageLinks.thumbnail%>" alt="">
        <% } else { %>
            <p>Não há imagem disponível</p>
        <% } %>
        <% if(data[i].volumeInfo.description && data[i].volumeInfo.description.length > 0 ) { %>
            <p><%= data[i].volumeInfo.description %></p>
        <% } else { %>
            <p>Não há descrição disponível</p>
        <% } %>
        <hr>
    <% } %>
</body>
</html>