<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Admin Page</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Admin Page</h1>
            <div class="user-info">
                <p>Logado como: <%= selectedUser.name %> (<%= selectedUser.email %>)</p>
            </div>
            <a href="/">Voltar a página inicial</a>
            <a href="/logout">Logout</a>
        </div><!-- container -->
    </header>
    <section class="users">
        <div class="container">
            <div class="col">
                <h3>Usuários cadastrados</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Nível de acesso</th>
                            <th>Mudar nível de acesso para:</th>
                            <th>Mudar senha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <% if (user.email != selectedUser.email) { %>
                                <tr>
                                    <td>
                                        <div class="functions">
                                            <img src="<%= user.profilepicture %>" alt="Foto de Perfil">
                                            <a href="/delete/<%= user.id %>"><i class="fa-solid fa-trash"></i></a>
                                        </div><!-- functions -->
                                    </td>
                                    <td><%= user.name %></td>
                                    <td><%= user.email %></td>
                                    <td id="<%= user.id %>-privilege"><%= user.privilege %></td>
                                    <td>
                                        <select name="privilege" id="privilege" onchange="updatePrivilege('<%= user.email %>', this.value, '<%= user.id %>' )">
                                            <option value="admin" <%= user.privilege == 'admin' ? 'selected' : '' %>>Admin</option>
                                            <option value="bibliotecario" <%= user.privilege == 'bibliotecario' ? 'selected' : '' %>>Bibliotecário</option>
                                            <option value="user" <%= user.privilege == 'user' ? 'selected' : '' %>>User</option>
                                        </select>
                                    </td>
                                    <td><a href="/changePassPage?user=<%= user.id %>">Mudar senha</a></td>
                                </tr>
                            <% } %>
                        <% }) %>
                    </tbody>
                </table>
            </div><!-- col -->
        </div><!-- container -->
    </section>
<script >
    function updatePrivilege(email, newPrivilege, userId) {
        fetch('/updatePrivilege', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, privilege: newPrivilege }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            document.getElementById(userId + '-privilege').innerText = newPrivilege;
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
</body>
</html>