<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/guardados.css">
    <title>Document</title>
</head>
<body>

    <%- include('header') %>

    
    <h1>Livros guardados</h1>
    <form action="/voltarHome">
        <input type="submit" value="Voltar à página inicial">
    </form>
    <% for(item in data) { %>
        <% if (userId == data[item].user_id) { %>
            <h2><%= data[item].titulo %></h2>
            <% if (data[item].url_imagem == 'false') { %>
                <p>Não há imagem disponível</p>
            <% } else { %>
                <img src="<%= data[item].url_imagem %>" alt="">
            <% } %>
            <h3><%= data[item].autor %></h3>
            <form action="/deletar" method="post">
                <input type="hidden" name="titulo" value="<%= data[item].titulo %>">
                <input type="submit" value="Deletar livro">
            </form>
            <hr>
        <% } %>
    <% } %>
</body>
</html>