<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>

<%- include('header') %>

<section class="main">
    <div class="container">
        <h1>Olá <%= user.name %>!</h1>
        
        <% if (message) { %>
            <h3><%= message %></h3>
        <% } %>
        
        <form action="/filter" method="POST">
            <label for="genre">Selecione o gênero:</label>
            <select name="genre" id="genre">
                <option value="" <%= subject === '' ? 'selected' : '' %>></option>
                <option value="fiction" <%= subject === 'fiction' ? 'selected' : '' %>>Ficção</option>
                <option value="fantasy" <%= subject === 'fantasy' ? 'selected' : '' %>>Fantasia</option>
                <option value="mystery" <%= subject === 'mystery' ? 'selected' : '' %>>Mistério</option>
                <option value="biography" <%= subject === 'biography' ? 'selected' : '' %>>Biografia</option>
                <option value="science" <%= subject === 'science' ? 'selected' : '' %>>Ciência</option>
                <option value="history" <%= subject === 'history' ? 'selected' : '' %>>História</option>
            </select>
            <input type="submit" value="Filtrar">
        </form>
    </div><!--container-->
</section>


    <section class="books">
        <div class="container">
            <div class="allBooks">
                <% for(let i=0; i < data.length; i++) { %>
                    <div class="book" data-id="<%= data[i].id %>">
                        <div class="top">
                            <h2 class="titleBook"><%= data[i].volumeInfo.title %></h2>
                            <form class="stockBook">
                                <input type="hidden" name="title" value="<%= data[i].volumeInfo.title %>">
                                <input type="hidden" name="author" value="<%= data[i].volumeInfo.authors ? data[i].volumeInfo.authors.join(', ') : 'Autor desconhecido' %>">
                                <input type="hidden" name="image" value="<%= data[i].volumeInfo.imageLinks && data[i].volumeInfo.imageLinks.thumbnail ? data[i].volumeInfo.imageLinks.thumbnail : 'false' %>">
                                <button type="button" class="favoriteButton" data-curStatus="<%= savedBookTitles.includes(data[i].volumeInfo.title) ? 'added' : 'removed' %>">
                                    <% if (savedBookTitles.includes(data[i].volumeInfo.title)) { %>
                                        <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                    <% } else { %>
                                        <i class="fa-regular fa-heart"></i>
                                    <% } %>
                                </button>
                            </form>
                        </div><!--top-->
                        <div class="image">
                            <% if(data[i].volumeInfo.imageLinks && data[i].volumeInfo.imageLinks.thumbnail) { %>
                                <img src="<%= data[i].volumeInfo.imageLinks.thumbnail%>" alt="">
                            <% } else { %>
                                <p>Não há imagem disponível</p>
                            <% } %>
                        </div><!--image-->
                        <div class="author">
                            <p><%= data[i].volumeInfo.authors ? data[i].volumeInfo.authors.join(', ') : 'Autor desconhecido' %></p>
                        </div><!--author-->
                    </div><!--book-->
                <% } %>
            </div><!--allBooks-->
        </div><!--container-->
    </section>
    <script nonce="<%= nonce %>">
        document.querySelectorAll('.titleBook').forEach(function(title) {
            let tam = 25;
            if (title.textContent.length > tam) {
                title.textContent = title.textContent.substring(0, tam) + '...';
            }
        });

        document.querySelectorAll('.favoriteButton').forEach(function(button) {
            button.addEventListener('click', function(e) {
                e.stopPropagation();
                let form = button.closest('form');
                let title = form.querySelector('input[name="title"]').value;
                let author = form.querySelector('input[name="author"]').value;
                let image = form.querySelector('input[name="image"]').value;
                let curStatus = button.getAttribute('data-curStatus'); // Obtém o status atual

                console.log('Enviando dados:', { title, author, image, curStatus });

                let url = curStatus === 'added' ? '/remover' : '/guardar';
                let method = 'POST';

                fetch(url, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        title: title,
                        author: author,
                        image: image
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    if (curStatus === 'added') {
                        button.setAttribute('data-curStatus', 'removed');
                        button.innerHTML = '<i class="fa-regular fa-heart"></i>';
                        button.style.color = '';
                    } else {
                        button.setAttribute('data-curStatus', 'added');
                        button.innerHTML = '<i class="fa-solid fa-heart"></i>';
                        button.style.color = '#ff0000';
                    }
                })
                .catch(error => console.error('Erro ao guardar livro:', error));
            });
        });
    
        document.querySelectorAll('.book').forEach(function(book) {
            book.addEventListener('click', function() {
                let id = book.getAttribute('data-id');
                window.location.href = '/singleBook?id=' + id;
            });
        });
    </script>
</body>
</html>